.DS_Store

application/cache/*
application/config/*
application/core/*
application/hooks/*
application/language/*
application/logs/*
application/third_party/*

!application/cache/index.html
/tests/tests/
/tests/results/
/assets/**
!/assets/frontend/
!/assets/frontend/css/
!/assets/frontend/css/qrCodeScanner.css
!/assets/frontend/css/star-rating.css
!/assets/frontend/js/
!/assets/frontend/js/qrCodeScanner.js
!/assets/frontend/js/scanner-qrcode.js
images/*
pdf_old/*
pdf/_class/
pdf/_tcpdf_5.0.002/
pdf/html2pdf/
pdf/html2pdf_local/
pdf1/tcpdf/
pdf1/html2pdf121/
pdf1/html2pdf/
pdf1/html2pdf1212/
system/*
user_guide/*
vendors/*


application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project


/images_old
/images_old/anggota_jemaat
*.jpg
